body {
    background-color: #2b2322;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1.3em;

}

.App {
    margin: 250px auto;
    min-width: 600px;
    max-width: 800px;
}

.dualMode {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'announce announce'
                         'counter counter';
}

.singleMode {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 'announce'
                         'counter';

}

.announcement {
    grid-area: announce;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.counterWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    grid-area: counter;
}

.singleMode .counterWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: counter;
    justify-items: center;
}